@import './base.css';

html {
  overflow: hidden !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  background: linear-gradient(180deg,
    #c2af8b 0%,
    #f1e7d5 100%
  );
}

#app {
  min-height: 100vh;
  background:none;
}